body {
  background-color: #13131f;
  h1,
  h2 {
    color: #fe343e;
  }
  p {
    color: #fe343e;
  }
  button {
    color: #fe343e;
    border: 2px solid #fe343e;
    background-color: #13131f;
  }
  button:hover {
    background-color: #fe343e;
    color: #13131f;
    transition: 0.5s;
  }
}
